html {
    font-size: 100%;
}

@media only screen and (max-width: 240px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (min-width: 241px) and (max-width: 300px) {
    html {
        font-size: 80%;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffd500;
}

header, .card {
    background-color: #ffbf00;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

h1, h2, footer {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.2rem;
    font-style: oblique;
    margin: 0;
}

p, a, .group-name {
    font-size: 1.5rem;
    line-height: 150%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    align-self: center;
    padding: 1rem;
    border: black 2px dotted;
    border-radius: 1rem;
    margin: 1rem;
}

.group-name {
    font-weight: bold;
    margin-top: 0.3rem;
}

footer {
    padding-top: 50px;
}